@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    background-color: #24252A;
}

li, a {
    font-family: "montserrant", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

#isi li a{
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

#isi li a:hover{
    color: aqua;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#open {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10%;
    position: relative;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    right: 50px;
}

#bio {
    padding: 30px;
    align-items: center;
}

#profile {
    padding: 0%;
}

#profile img{
    border: 5px solid aqua;
    border-radius: 50%;
}

#bio h1{
    padding: 2px;
    color: aqua;
    font-size: 35px;
}

#bio h4{
    padding: 2px;
    font-size: 20px;
}

#bio h5{
    padding: 2px;
    font-size: 15px;
}

#icon {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#icon img{
    padding: 15px;
    border-radius: 50%;
}

/* From Uiverse.io by niat786 */ 
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #4ce3f7, #0400ff );
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    }
    
    button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    }
    
    @keyframes pulse512 {
    0% {
    box-shadow: 0 0 0 0 #05bada66;
    }
    
    70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
    
    100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
    }